<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p><a href="https://github.com/CryptoCoolby/node-udemy-express">Node Udemy Course</a></p>
        {{> footer}}
    </body>
</html>
